<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.one.constraintlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CircularPositioning">
        </activity>
        <activity android:name=".PlaceHolder">
        </activity>
        <activity android:name=".LinearActivity">
        </activity>
        <activity android:name=".GuideLineActivity">
        </activity>
        <activity android:name=".FlowActivity">
        </activity>
        <activity android:name=".DimensionRatio">
        </activity>
        <activity android:name=".ConstrainSetActivity">
        </activity>
        <activity android:name=".ConstraintLayoutSample">
        </activity>
        <activity android:name=".CircularReveal">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>